body {
    color: white;
    background: black;
}

header{
    border-bottom: solid 2px rgb(42,122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(26, 26, 248);
}
 

section{
    background-color: rgb(154, 92, 220);
}